<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.gRPC配置节点-->
    <section name="sd.grpc" type="SD.Toolkits.Grpc.GrpcSection, SD.Toolkits.Grpc.Client" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序Id-->
    <application.id>SD.IdentitySystem</application.id>
    <!--应用程序名称-->
    <application.name>身份认证系统客户端</application.name>
    <!--应用程序版本-->
    <application.version>v4.6.2</application.version>
    <!--自动更新服务-->
    <external.service.autoUpdate>http://localhost:49710/Release.xml</external.service.autoUpdate>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.Common" />
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.Client" />
      <assembly name="SD.IdentitySystem.Presentation" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="Caliburn.Micro.EventAggregator" assembly="Caliburn.Micro.Core" lifetimeMode="Singleton" />
      <type name="Caliburn.Micro.WindowManager" assembly="Caliburn.Micro.Platform" lifetimeMode="Singleton" />
    </asInterfaceTypes>
    <!--gRPC接口列表-->
    <grpcInterfaces>
      <assembly name="SD.IdentitySystem.IAppService" />
    </grpcInterfaces>
  </sd.ioc>

  <!--SD.gRPC配置-->
  <sd.grpc>
    <!--gRPC客户端配置-->
    <client>
      <endpoint address="https://localhost:49732" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" endpointConfiguration="default" authInterceptors="clientAuthentication" />
      <endpoint address="https://localhost:49732" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" endpointConfiguration="default" authInterceptors="clientAuthentication" />
      <endpoint address="https://localhost:49732" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" endpointConfiguration="default" authInterceptors="clientAuthentication" />
    </client>
    <!--gRPC终结点配置-->
    <endpointConfigurations>
      <endpointConfiguration name="default" maxSendMessageSize="2147483647" maxReceiveMessageSize="2147483647" maxRetryAttempts="10" maxRetryBufferSize="2147483647" maxRetryBufferPerCallSize="2147483647" disposeHttpClient="false" throwOperationCanceledOnCancellation="false" />
    </endpointConfigurations>
    <!--gRPC授权拦截器配置-->
    <authInterceptors>
      <authInterceptor name="clientAuthentication"
                       type="SD.IdentitySystem.Grpc.Authentication.Common.AuthenticationInterceptor"
                       assembly="SD.IdentitySystem.Grpc.Authentication.Common" />
    </authInterceptors>
  </sd.grpc>
</configuration>
