<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--CoreWCF配置节点-->
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.ServiceModelSectionGroup, SD.Toolkits.CoreWCF.Client">
      <section name="client" type="System.ServiceModel.ClientsSection, SD.Toolkits.CoreWCF.Client" />
      <section name="bindings" type="System.ServiceModel.BindingsSection, SD.Toolkits.CoreWCF.Client" />
      <section name="endpointBehaviors" type="System.ServiceModel.BehaviorsSection, SD.Toolkits.CoreWCF.Client" />
    </sectionGroup>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.AOP配置节点-->
    <section name="sd.aop" type="SD.AOP.Core.AopSection, SD.AOP.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序Id-->
    <application.id>SD.IdentitySystem</application.id>
    <!--应用程序名称-->
    <application.name>身份认证系统网站(ASP.NET Core)</application.name>
    <!--应用程序版本-->
    <application.version>v4.6.1</application.version>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.AspNetCoreMvc" />
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.Client" />
      <assembly name="SD.IdentitySystem.Presentation" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.IAppService" />
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.AOP配置-->
  <sd.aop>
    <!--日志记录者-->
    <loggerProvider type="SD.AOP.SqlServerLogger" assembly="SD.AOP.Logger.SqlServer" />
    <!--连接字符串-->
    <connectionString value="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;TrustServerCertificate=true;" />
  </sd.aop>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--节点列表-->
    <endpoints>
      <endpoint name="No.1" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="21021" protocol="http" />
    </hosts>
    <!--默认登录页-->
    <loginPage>/User/Login</loginPage>
    <!--默认错误页-->
    <errorPage>/Home/Exception</errorPage>
    <!--静态文件根目录-->
    <staticFiles>Content</staticFiles>
  </sd.toolkits.aspNet>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--身份认证服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/AuthenticationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" behaviorConfiguration="DefaultBehavior" />
      <!--用户管理服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/UserContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" name="SD.IdentitySystem.IAppService.Interfaces.IUserContract" behaviorConfiguration="DefaultBehavior" />
      <!--权限管理服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/AuthorizationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <endpointBehaviors>
      <behavior name="DefaultBehavior">
        <!--WCF/ASP.NET Core客户端身份认证行为配置-->
        <endpointBehavior type="SD.IdentitySystem.WCF.Authentication.AspNetCore.AuthenticationBehavior" assembly="SD.IdentitySystem.WCF.Authentication.AspNetCore" />
      </behavior>
    </endpointBehaviors>
  </system.serviceModel>
</configuration>
