<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="PostSharp" version="4.1.15" targetFramework="net45" />
  <package id="SD.AOP.Core" version="1.1.1" targetFramework="net461" />
  <package id="SD.Common" version="1.0.6" targetFramework="net45" />
  <package id="SD.FormatModel.EasyUI" version="1.0.0" targetFramework="net45" />
  <package id="SD.IdentitySystem.IAppService" version="1.3.0" targetFramework="net45" />
  <package id="SD.Infrastructure" version="1.2.0" targetFramework="net45" />
  <package id="SD.Infrastructure.AOP" version="1.0.1" targetFramework="net461" />
</packages>