@{
    ViewBag.Title = "创建角色";
    IEnumerable<InfoSystem> infoSystems = ((IEnumerable<InfoSystem>)ViewBag.InfoSystems).OrderBy(x => x.Number);
}

@section header{
    <link type="text/css" href="~/css/Common/Form.css" rel="stylesheet" />
    <script type="text/javascript" src="~/scripts/Role/Add.js"></script>
}

@*角色信息面板*@
<div style="width: 48%; height: 50%; float: left; margin: 5px;">
    <div class="easyui-panel" title="角色信息" data-options="footer:'#footer'" style="width: 100%; height: 626px; padding: 10px;">
        <form id="frmCreateRole">
            <table id="tbAdd">
                <tr>
                    <td class="tdTitle">信息系统：</td>
                    <td class="tdContent">
                        <select class="easyui-combobox" id="cbxInfoSystem" name="infoSystemNo" data-options="required:true,editable:false,onSelect:infoSystemSelected" style="width: 210px">
                            <option value="" selected="selected"></option>
                            @foreach (InfoSystem infoSystem in infoSystems)
                            {
                                <option value="@infoSystem.Number">@infoSystem.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">角色名称：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="roleName" data-options="required:true,width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">角色描述：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="description" data-options="multiline:true,width:210" style="height: 70px" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer" style="padding: 5px;">
        <div style="float: right;">
            <a href="#" onclick="createRole();" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" style="width:90px">确定</a>
            <a href="#" onclick="javascript: $.easyuiExt.closeWindow();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:90px">取消</a>
        </div>
    </div>
</div>
@*权限信息面板*@
<div style="width: 48%; height: 50%; float: right; margin: 5px;">
    <div class="easyui-panel" title="权限列表" style="width:100%;height:626px;padding:10px;">
        <ul id="authorityTree" class="easyui-tree"></ul>
    </div>
</div>
