<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF行为配置-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <webApiAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/WebApi客户端身份认证扩展配置-->
        <add name="webApiAuthentication" type="SD.IdentitySystem.WCFAuthentication.WebApi.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.WebApi" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
