body {
    margin: 0;
    padding: 0;
    background: #000000;
    font: 14px 100;
}

#login_top, #login_stop, #login_center, #login_bottom {
    width: 100%;
    margin: auto;
    text-align: center;
}

#login_center {
    width: 998px;
    height: 299px;
    background: url("/images/login_center.jpg") no-repeat;
}

#login_body {
    padding-left: 80px;
    padding-top: 75px;
    height: 116px;
    width: 280px;
    margin: 0 auto;
}

#login_table {
    border-collapse: collapse;
    padding: 2px;
}

    #login_table td {
        border: 0px;
        height: 26px;
        font-size: 14px;
        text-align: left;
    }

.login_txt {
    width: 149px;
}

.inputbox {
    width: 150px;
}

#picNum {
    position: relative;
    top: 380px;
    left: 770px;
    display: none;
}

    #picNum img {
        border: 2px solid #ccc;
    }
