<nz-spin [nzSpinning]="isBusy">
    <form nz-form [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label [nzSpan]="4">私钥</nz-form-label>
            <nz-form-control [nzSpan]="20" [nzErrorTip]="privateKeyError">
                <input nz-input type="text" formControlName="privateKey" [(ngModel)]="privateKey"/>
                <ng-template #privateKeyError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        私钥不可为空！
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                        私钥长度不可小于6！
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                        私钥长度不可大于36！
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>
<div class="form-footer">
    <nz-space>
        <button type="submit" nz-button *nzSpaceItem nzType="primary" [nzLoading]="isBusy" (click)="submit()">
            确定
        </button>
        <button type="button" nz-button *nzSpaceItem (click)="cancel()">
            取消
        </button>
    </nz-space>
</div>
