<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="MrAdvice" version="2.5.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="SD.AOP.Core" version="2.0.1" targetFramework="net461" />
  <package id="SD.CacheManager" version="2.0.0" targetFramework="net461" />
  <package id="SD.Common" version="2.0.0" targetFramework="net461" />
  <package id="SD.IdentitySystem.Membership" version="2.0.0" targetFramework="net461" />
  <package id="SD.Infrastructure" version="2.0.5" targetFramework="net461" />
  <package id="SD.Infrastructure.AOP" version="2.0.0" targetFramework="net461" />
  <package id="SD.Infrastructure.Repository.EntityFramework" version="2.0.1" targetFramework="net461" />
  <package id="SD.IOC.Core" version="2.0.0" targetFramework="net461" />
  <package id="SD.Toolkits.EntityFramework" version="1.0.4" targetFramework="net461" />
  <package id="SD.Toolkits.Recursion" version="2.0.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net461" />
</packages>