<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
  </configSections>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.StubWCF.Server" />
      <assembly name="SD.IdentitySystem.StubWCF.Client" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.StubWCF.Client" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.StubWCF.Server" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.StubWCF.Client.Implements.ClientContract">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.StubWCF.Client.Interfaces.IClientContract" />
      </service>
    </services>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <endpoint address="http://localhost:1985/Hosts/ServerContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.StubWCFServer.Interfaces.IServerContract" name="SD.IdentitySystem.StubWCFServer.Interfaces.IServerContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问元数据-->
          <serviceMetadata httpGetEnabled="true" />
          <!--从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常详细信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--最大序列化的对象个数-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--依赖注入扩展配置-->
          <injection />
          <!--WCF客户端/服务端身份认证扩展配置-->
          <wcfAuthentication />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF客户端/服务端身份认证扩展配置-->
          <wcfAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF" />
        <!--WCF客户端/服务端身份认证扩展配置-->
        <add name="wcfAuthentication" type="SD.IdentitySystem.WCFAuthentication.WCF.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.WCF" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
