@model SD.IdentitySystem.IPresentation.Models.InfoSystem
@{
    ViewBag.Title = "初始化信息系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/Common/Form.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/InfoSystem/Init.js"></script>
}

<div style="width: 100%; height: 100%; float:left; margin: 0;">
    <div class="easyui-panel" data-options="footer:'#footer'" style="width: 100%; height: 323px; padding: 10px;">
        <form id="frmInitInfoSystem">
            <input type="hidden" name="infoSystemNo" value="@Model.Number" />
            <table id="tbAdd" style="margin: 0 auto;">
                <tr>
                    <td class="tdTitle">主机名/IP地址：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="host" data-options="required:true,width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">端口：</td>
                    <td class="tdContent">
                        <input class="easyui-numberbox" type="text" name="port" data-options="required:true,width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">首页：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="index" data-options="required:true,width:210" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="footer" style="padding: 5px;">
        <div style="float: right;">
            <a href="#" onclick="initInfoSystem();" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" style="width:90px">确定</a>
            <a href="#" onclick="javascript: $.easyuiExt.closeWindow();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:90px">取消</a>
        </div>
    </div>
</div>
