<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--CoreWCF配置节点-->
    <sectionGroup name="system.serviceModel" type="CoreWCF.Configuration.ServiceModelSectionGroup, CoreWCF.ConfigurationManager">
      <section name="services" type="CoreWCF.Configuration.ServicesSection, CoreWCF.ConfigurationManager" />
      <section name="bindings" type="CoreWCF.Configuration.BindingsSection, CoreWCF.ConfigurationManager" />
    </sectionGroup>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.AOP配置节点-->
    <section name="sd.aop" type="SD.AOP.Core.AopSection, SD.AOP.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>身份认证系统CoreWCF服务</application.name>
    <!--应用程序版本-->
    <application.version>v4.4.0</application.version>
    <!--数据库读连接名称-->
    <database.read.connectionName>DefaultConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>DefaultConnection</database.write.connectionName>
    <!--实体所在程序集-->
    <entity.assembly>SD.IdentitySystem.Domain</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.IdentitySystem.Repository</entity.config.assembly>
    <!--实体数据表名前缀-->
    <entity.tablePrefix></entity.tablePrefix>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.WCF" />
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
      <assembly name="SD.IdentitySystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.Repository.EntityFrameworkCore.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFrameworkCore" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.IdentitySystem.Repository.Base.DbSession" assembly="SD.IdentitySystem.Repository" />
    </asBaseTypes>
    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SD.IdentitySystem.Domain.Mediators.RepositoryMediator" assembly="SD.IdentitySystem.Domain" />
    </asSelfTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.AOP配置-->
  <sd.aop>
    <!--日志记录者-->
    <loggerProvider type="SD.AOP.SqlServerLogger" assembly="SD.AOP.Logger.SqlServer" />
    <!--连接字符串，Name/Value二选一，Name优先-->
    <connectionString name="DefaultConnection" />
  </sd.aop>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="4973" protocol="http" />
      <host port="49730" protocol="net.tcp" />
    </hosts>
  </sd.toolkits.aspNet>

  <!--CoreWCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--身份认证服务契约配置-->
      <service name="SD.IdentitySystem.AppService.Implements.AuthenticationContract">
        <endpoint name="basic.http" address="http://0.0.0.0:4973/Hosts/AuthenticationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" />
        <endpoint name="net.tcp" address="net.tcp://0.0.0.0:49730/Hosts/AuthenticationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" />
      </service>
      <!--用户管理服务契约配置-->
      <service name="SD.IdentitySystem.AppService.Implements.UserContract">
        <endpoint name="basic.http" address="http://0.0.0.0:4973/Hosts/UserContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" />
        <endpoint name="net.tcp" address="net.tcp://0.0.0.0:49730/Hosts/UserContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" />
      </service>
      <!--权限管理服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.AppService.Implements.AuthorizationContract">
        <endpoint name="basic.http" address="http://0.0.0.0:4973/Hosts/AuthorizationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" />
        <endpoint name="net.tcp" address="net.tcp://0.0.0.0:49730/Hosts/AuthorizationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" />
      </service>
    </services>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
