<nz-spin [nzSpinning]="isBusy">
    <form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="oldPassword">旧密码</nz-form-label>
            <nz-form-control [nzSpan]="20" [nzErrorTip]="oldPasswordError">
                <input nz-input nzSize="large" type="password" id="oldPassword" formControlName="oldPassword"
                       [(ngModel)]="oldPassword"/>
                <ng-template #oldPasswordError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        旧密码不可为空！
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="newPassword">新密码</nz-form-label>
            <nz-form-control [nzSpan]="20" [nzErrorTip]="newPasswordError">
                <input nz-input nzSize="large" type="password" id="newPassword" formControlName="newPassword"
                       [(ngModel)]="newPassword"/>
                <ng-template #newPasswordError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        新密码不可为空！
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="confirmedPassword">确认密码</nz-form-label>
            <nz-form-control [nzSpan]="20" [nzErrorTip]="confirmedPasswordError">
                <input nz-input nzSize="large" type="password" id="confirmedPassword"
                       formControlName="confirmedPassword"
                       [(ngModel)]="confirmedPassword"/>
                <ng-template #confirmedPasswordError let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        确认密码不可为空！
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <div class="form-footer">
            <button type="submit" nz-button nzType="primary" nzSize="large" [nzLoading]="isBusy">
                确定
            </button>
            <button type="button" (click)="cancel()" nz-button nzSize="large">
                取消
            </button>
        </div>
    </form>
</nz-spin>
