<nz-spin [nzSpinning]="isBusy">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <label for="oldPassword" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">旧密码：</label>
            <div class="p-col-12 p-md-9">
                <p-password id="oldPassword" [(ngModel)]="oldPassword" [toggleMask]="true"
                            [feedback]="false"></p-password>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="newPassword" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">新密码：</label>
            <div class="p-col-12 p-md-9">
                <p-password id="newPassword" [(ngModel)]="newPassword" [toggleMask]="true"
                            [feedback]="false"></p-password>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="confirmedPassword" class="p-col-12 p-mb-3 p-md-3 p-mb-md-0">确认密码：</label>
            <div class="p-col-12 p-md-9">
                <p-password id="confirmedPassword" [(ngModel)]="confirmedPassword" [toggleMask]="true"
                            [feedback]="false"></p-password>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <button pButton pRipple icon="pi pi-check" label="确定" (click)="submit()"></button>
        <button pButton pRipple icon="pi pi-times" class="p-button-outlined" label="取消" (click)="cancel()"></button>
    </div>
</nz-spin>
