<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net45" />
  <package id="SD.IdentitySystem.IAppService" version="3.0.1" targetFramework="net45" />
  <package id="SD.IdentitySystem.WCF.Authentication.Windows" version="1.0.0" targetFramework="net45" />
  <package id="SD.Infrastructure" version="2.2.4" targetFramework="net45" />
  <package id="SD.IOC.Core" version="1.0.8" targetFramework="net45" />
</packages>