<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.0.0" targetFramework="net461" />
  <package id="SD.Common" version="3.0.3" targetFramework="net461" />
  <package id="SD.IdentitySystem.IAppService" version="3.0.4" targetFramework="net461" />
  <package id="SD.Infrastructure" version="3.0.3" targetFramework="net461" />
  <package id="SD.Infrastructure.WPF" version="1.0.0" targetFramework="net461" />
  <package id="SD.Toolkits.Mapper" version="1.0.0" targetFramework="net461" />
  <package id="SD.Toolkits.Recursion" version="2.0.3" targetFramework="net461" />
</packages>