.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.gridDiv {
    width: 100%;
    height: calc(100vh - 68px);
}

.datagrid-body table td, .datagrid-header-inner table td {
    padding: 5px;
}

.aLink {
    text-decoration: none;
    color: #0094ff;
}

    .aLink:hover {
        color: #ffffff;
        background-color: #0094ff;
    }
