@using SD.IdentitySystem.IPresentation.ViewModels.Outputs
@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <style type="text/css">
        .main {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .gridDiv {
            width: 100%;
            height: 90%;
        }

        .datagrid-header-rownumber, .datagrid-cell-rownumber {
            padding: 5px;
        }

        .datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
            padding: 5px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#tbGrid").treegrid({
                method: "get",
                url: "/Menu/GetMenuTreeGrid",
                title: null,
                fit: true,
                singleSelect: false,
                animate: true,
                idField: "Id",
                treeField: 'Name',
                loadMsg: "正在加载...",
                rownumbers: true,
                //工具栏元素Id
                toolbarId: "#toolbar",
                checkbox: function (row) {
                    return row.IsLeaf === true;
                },
                columns: [
                    [
                        { field: "Id", title: "Id", hidden: true },
                        { field: "Name", title: "菜单名称", halign: "center", width: 200 },
                        { field: "Url", title: "链接地址", halign: "center", width: 200 },
                        { field: "SystemName", title: "所属信息系统", halign: "center", width: 150 }
                    ]
                ]
            });
        });
    </script>
}

<div class="main">
    @*工具栏*@
    <div id="toolbar" class="datagrid-toolbar" style="padding: 5px; height: auto">
        @*按钮区*@
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="createUser();">新增</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="removeUsers();">删除</a>
        </div>

        @*表单区*@
        <div style="margin-left: 5px">
            <form id="frmQueries">
                信息系统：
                <select class="easyui-combobox" id="slSystem" name="systemNo" data-options="editable:false" style="width: 150px">
                    <option value="" selected="selected">请选择</option>
                    @foreach (InfoSystemView system in ViewBag.InfoSystems)
                    {
                        <option value="@system.Number">@system.Name</option>
                    }
                </select>

                关键字：<input class="easyui-textbox" type="text" id="txtKeywords" name="keywords" />

                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="searchUsers();">搜索</a>
            </form>
        </div>
    </div>

    @*列表*@
    <div id="dvGrid" class="gridDiv">
        <table id="tbGrid"></table>
    </div>
</div>