<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序Id-->
    <application.id>SD.IdentitySystem</application.id>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.Windows" />
  </sd.framework>
</configuration>
