label, button, input, optgroup, select, textarea, p-calendar, p-button {
    line-height: normal !important;
    vertical-align: middle !important;
}

.form-footer {
    float: right;
}

.form-footer button {
    margin: 1.5rem 0 0 0.5rem;
}

