label, button, input, optgroup, select, textarea, nz-date-picker, nz-select {
    vertical-align: middle !important;
}

nz-input-number {
    width: 100% !important;
}

.form-footer {
    position: absolute;
    right: 24px;
    bottom: 15px;
}
