<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.StubWCFClient" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <system.serviceModel>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <windowsAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF客户端配置-->
    <client>
      <endpoint address="http://localhost:2135/Hosts/ClientContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="SD.IdentitySystem.StubWCFClient.Interfaces.IClientContract" name="SD.IdentitySystem.StubWCFClient.Interfaces.IClientContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--扩展元素配置-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/Windows客户端身份认证扩展配置-->
        <add name="windowsAuthentication" type="SD.IdentitySystem.WCFAuthentication.Windows.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.Windows" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>