@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>统一身份认证 - 后台首页</title>
</head>
<body>
    <h1>@ViewBag.ErrorMessage</h1>
</body>
</html>
