<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.Client" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="Caliburn.Micro.EventAggregator" assembly="Caliburn.Micro" lifetimeMode="Singleton" />
      <type name="Caliburn.Micro.WindowManager" assembly="Caliburn.Micro.Platform" lifetimeMode="Singleton" />
    </asInterfaceTypes>
  </sd.ioc>
</configuration>
