<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--CoreWCF配置节点-->
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.ServiceModelSectionGroup, SD.Toolkits.CoreWCF.Client">
      <section name="client" type="System.ServiceModel.ClientsSection, SD.Toolkits.CoreWCF.Client" />
      <section name="bindings" type="System.ServiceModel.BindingsSection, SD.Toolkits.CoreWCF.Client" />
      <section name="endpointBehaviors" type="System.ServiceModel.BehaviorsSection, SD.Toolkits.CoreWCF.Client" />
    </sectionGroup>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>身份认证系统客户端</application.name>
    <!--应用程序版本-->
    <application.version>v4.4.0</application.version>
    <!--自动更新服务-->
    <external.service.autoUpdate>http://localhost:49710/Release.xml</external.service.autoUpdate>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.Windows" />
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.Client" />
      <assembly name="SD.IdentitySystem.Presentation" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="Caliburn.Micro.EventAggregator" assembly="Caliburn.Micro.Core" lifetimeMode="Singleton" />
      <type name="Caliburn.Micro.WindowManager" assembly="Caliburn.Micro.Platform" lifetimeMode="Singleton" />
    </asInterfaceTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.IAppService" />
    </wcfInterfaces>
  </sd.ioc>

  <!--CoreWCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--身份认证服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/AuthenticationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" behaviorConfiguration="DefaultBehavior" />
      <!--用户管理服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/UserContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" name="SD.IdentitySystem.IAppService.Interfaces.IUserContract" behaviorConfiguration="DefaultBehavior" />
      <!--权限管理服务契约配置-->
      <endpoint address="http://localhost:4973/Hosts/AuthorizationContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <endpointBehaviors>
      <behavior name="DefaultBehavior">
        <endpointBehavior type="SD.IdentitySystem.WCF.Authentication.Windows.AuthenticationBehavior" assembly="SD.IdentitySystem.WCF.Authentication.Windows" />
      </behavior>
    </endpointBehaviors>
  </system.serviceModel>
</configuration>
