<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.Client" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="Caliburn.Micro.EventAggregator" assembly="Caliburn.Micro" lifetimeMode="Singleton" />
      <type name="Caliburn.Micro.WindowManager" assembly="Caliburn.Micro.Platform" lifetimeMode="Singleton" />
    </asInterfaceTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.IAppService" />
    </wcfInterfaces>
  </sd.ioc>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置-->
    <client>
      <!--身份认证服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/AuthenticationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" behaviorConfiguration="DefaultBehavior" />
      <!--用户服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/UserContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" name="SD.IdentitySystem.IAppService.Interfaces.IUserContract" behaviorConfiguration="DefaultBehavior" />
      <!--权限服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/AuthorizationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--WS绑定配置-->
      <wsHttpBinding>
        <binding name="WsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <!--IPC绑定配置-->
      <netNamedPipeBinding>
        <binding name="IpcBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF/Windows客户端身份认证扩展配置-->
          <windowsAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/Windows客户端身份认证扩展配置-->
        <add name="windowsAuthentication" type="SD.IdentitySystem.WCF.Authentication.Windows.AuthenticationBehaviorElement, SD.IdentitySystem.WCF.Authentication.Windows" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
