<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration, SD.CacheManager" />
    <!--日志记录者配置配置节点-->
    <section name="loggerProviderConfiguration" type="SD.AOP.Core.LoggerProviderConfiguration, SD.AOP.Core" />
    <!--ASP.NET Core服务器配置节点-->
    <section name="aspNetCoreConfiguration" type="SD.Toolkits.AspNetCore.AspNetCoreSection, SD.Toolkits.AspNetCore" />
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />

  <!--日志记录者配置配置，默认采用Sql Server记录-->
  <loggerProviderConfiguration type="SD.AOP.Core.Implements.DefaultLogger" assembly="SD.AOP.Core" />

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--日志连接字符串-->
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <!--编号生成器连接字符串-->
    <!--键：约定；值：connectionString name-->
    <add key="SerialNumberConnection" value="DefaultConnection" />
    <!--实体所在程序集-->
    <add key="EntityAssembly" value="SD.IdentitySystem.Domain" />
    <!--实体配置所在程序集-->
    <add key="EntityConfigAssembly" value="SD.IdentitySystem.Repository" />
    <!--领域事件源所在程序集-->
    <add key="EventSourceAssembly" value="SD.IdentitySystem.Domain" />
    <!--数据表名前缀-->
    <add key="TablePrefix" value="" />
    <!--身份过期时间，单位：分钟-->
    <add key="AuthenticationTimeout" value="20" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
      <assembly name="SD.IdentitySystem.DomainService" />
      <assembly name="SD.IdentitySystem.DomainEventHandler" />
      <assembly name="SD.IdentitySystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStoreProvider.Redis" />
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
      <type name="SD.IdentitySystem.Membership.WebApiCore.MembershipProvider" assembly="SD.IdentitySystem.Membership.WebApiCore" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.IdentitySystem.Repository.Base.DbSession" assembly="SD.IdentitySystem.Repository" />
    </asBaseTypes>
    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SD.IdentitySystem.Domain.Mediators.DomainServiceMediator" assembly="SD.IdentitySystem.Domain" />
      <type name="SD.IdentitySystem.Domain.Mediators.RepositoryMediator" assembly="SD.IdentitySystem.Domain" />
    </asSelfTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>

  <!--ASP.NET Core服务器配置-->
  <aspNetCoreConfiguration authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:49732" />
      <!--<host url="http://192.168.0.146:49732" />-->
    </hosts>
  </aspNetCoreConfiguration>
</configuration>