<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--WCF行为配置-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <mvcClientAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/MVC客户端身份认证扩展配置-->
        <add name="mvcClientAuthentication" type="SD.IdentitySystem.WCFAuthentication.MVC.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.MVC"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>