<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="SD.Infrastructure" version="2.2.3" targetFramework="net46" />
  <package id="SD.Toolkits.AsyncHttpContext" version="1.0.1" targetFramework="net46" />
</packages>