<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="ShSoft.Infrastructure" version="1.0.7" targetFramework="net45" />
  <package id="ShSoft.Infrastructure.MVC" version="1.0.4" targetFramework="net45" />
  <package id="ShSoft.ValueObjects" version="1.1.5" targetFramework="net45" />
</packages>