<div nz-row class="login">
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8">
        <nz-spin [nzSpinning]="isBusy">
            <div class="login-container">
                <p-panel header="统一身份认证系统">
                    <div class="login-form">
                        <div class="p-fluid">
                            <div class="p-field p-grid">
                                <label for="loginId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">用户名：</label>
                                <div class="p-col-12 p-md-10">
                                    <input id="loginId" type="text" pInputText [(ngModel)]="loginId"/>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="password" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">密码：</label>
                                <div class="p-col-12 p-md-10">
                                    <p-password id="password" [toggleMask]="true" [feedback]="false"
                                                [(ngModel)]="password" required minlength="6"></p-password>
                                </div>
                            </div>
                        </div>
                        <button pButton type="button" label="登录" class="login-submit" (click)="login()"></button>
                    </div>
                </p-panel>
            </div>
        </nz-spin>
    </div>
    <div nz-col nzSpan="8"></div>
</div>
