.login {
    height: 100%;
    background-image: url("../../../assets/images/background.jpg");
}

.login-container {
    width: 500px;
    height: 350px;
    margin: 100px auto;
}

.login-form {
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.login-submit {
    float: right;
    width: 100px;
}
