.login {
    height: 100%;
    background-image: url("../../../assets/images/background.jpg");
}

.login-container {
    width: 450px;
    height: 300px;
    margin: 15vh auto;
}

.login-form {
    margin: 30px auto;
    width: 90%;
    height: 170px;
}
