.login {
    height: 100%;
    background-image: url("../../../assets/images/background.jpg");
}

.login-container {
    width: 450px;
    height: 300px;
    margin: 100px auto;
}

.login-form {
    margin:30px auto;
    width: 90%;
    height: 170px;
}

.login-submit {
    width: 100px;
}
