@{
    ViewBag.Title = "用户登录记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/Common/Grid.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/LoginRecord/Index.js"></script>
}

<div class="main">
    @*工具栏*@
    <div id="toolbar" class="datagrid-toolbar" style="padding: 5px; height: auto">
        @*表单区*@
        <div style="margin-left: 5px">
            <form id="frmQueries">
                关键字：<input class="easyui-textbox" type="text" id="txtKeywords" name="keywords" style="width: 210px" data-options="prompt:'登录名/真实姓名'" />

                开始时间：
                <input class="easyui-datetimebox" data-options="editable:false" name="startTime" style="width: 210px">

                结束时间：
                <input class="easyui-datetimebox" data-options="editable:false" name="endTime" style="width:210px">

                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="searchRecords();">搜索</a>
            </form>
        </div>
    </div>

    @*列表*@
    <div id="dvGrid" class="gridDiv" style="height: 95%;">
        <table id="tbGrid"></table>
    </div>
</div>
