@using SD.IdentitySystem.Presentation.Models
@{
    ViewBag.Title = "菜单管理";
    IEnumerable<InfoSystem> InfoSystems = ((IEnumerable<InfoSystem>)ViewBag.InfoSystems).OrderBy(x => x.Number);
    IDictionary<int, string> ApplicationTypeDescriptions = ViewBag.ApplicationTypeDescriptions;
}

@section header{
    <link type="text/css" href="~/css/Common/TreeGrid.css" rel="stylesheet" />
    <script type="text/javascript" src="~/scripts/Menu/Index.js"></script>
}

<div class="main">
    @*工具栏*@
    <div id="toolbar" class="datagrid-toolbar" style="padding: 5px; height: auto">
        @*按钮区*@
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="createMenu();">新增</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="removeMenus();">删除</a>
        </div>

        @*表单区*@
        <div style="margin-left: 5px">
            <form id="frmQueries">
                信息系统：
                <select class="easyui-combobox" id="cbxInfoSystem" name="infoSystemNo" data-options="editable:false" style="width: 210px">
                    <option value="" selected="selected">全部</option>
                    @foreach (InfoSystem infoSystem in InfoSystems)
                    {
                        <option value="@infoSystem.Number">@infoSystem.Name</option>
                    }
                </select>
                应用程序类型：
                <select class="easyui-combobox" id="slApplicationType" name="applicationType" data-options="editable:false" style="width: 210px">
                    <option value="" selected="selected">全部</option>
                    @foreach (KeyValuePair<int, string> kv in ApplicationTypeDescriptions)
                    {
                        <option value="@kv.Key">@kv.Value</option>
                    }
                </select>

                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="searchMenus();">搜索</a>
            </form>
        </div>
    </div>

    @*列表*@
    <div id="dvGrid" class="gridDiv">
        <table id="treeGrid"></table>
    </div>

    @*底部*@
    <div id="footer" style="padding: 5px;">&nbsp;</div>
</div>
