<!--搜索区-->
<nz-card>
    <div nz-row [nzGutter]="18">
        <div nz-col [nzSpan]="4.5">
            <nz-space>
                <div *nzSpaceItem>
                    <nz-form-label>关键字</nz-form-label>
                    <input nz-input style="width: 210px" placeholder="名称/路径/描述" [(ngModel)]="keywords"/>
                </div>
                <div *nzSpaceItem>
                    <nz-form-label>应用程序类型</nz-form-label>
                    <nz-select nzAllowClear style="width: 210px" nzPlaceHolder="请选择"
                               [(ngModel)]="selectedApplicationType">
                        <nz-option *ngFor="let applicationType of applicationTypes" [nzValue]="applicationType.key"
                                   [nzLabel]="applicationType.value"></nz-option>
                    </nz-select>
                </div>
                <div *nzSpaceItem>
                    <nz-form-label>信息系统</nz-form-label>
                    <nz-select nzAllowClear style="width: 210px" nzPlaceHolder="请选择" [(ngModel)]="selectedInfoSystemNo">
                        <nz-option *ngFor="let infoSystem of infoSystems" [nzValue]="infoSystem.number"
                                   [nzLabel]="infoSystem.name"></nz-option>
                    </nz-select>
                </div>
            </nz-space>
        </div>
        <div nz-col [nzSpan]="4.5">
            <nz-space>
                <button nz-button *nzSpaceItem [nzType]="'primary'" (click)="search()">
                    <i nz-icon nzType="search"></i>搜索
                </button>
                <button nz-button *nzSpaceItem (click)="resetSearch()">
                    <i nz-icon nzType="undo"></i>重置
                </button>
            </nz-space>
        </div>
    </div>
</nz-card>
<!--表格区-->
<nz-table style="margin-top: 5px;"
          nzShowSizeChanger
          [nzTitle]="tableTile"
          [nzData]="authorities"
          [nzFrontPagination]="false"
          [nzLoading]="isBusy"
          [nzScroll]="{y: 'calc(100vh - 390px)'}"
          [nzTotal]="rowCount"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzPageSizeChange)="onPageSizeChange($event)">
    <thead>
    <tr>
        <th nzWidth="40px" nzAlign="center" nzLeft [nzChecked]="checkedAll" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="150px" nzAlign="center" nzLeft>名称</th>
        <th nzWidth="70px" nzAlign="center">英文名称</th>
        <th nzWidth="140px" nzAlign="center">所属系统</th>
        <th nzWidth="140px" nzAlign="center">应用程序类型</th>
        <th nzWidth="230px" nzAlign="center">路径</th>
        <th nzWidth="80px" nzAlign="center">程序集名称</th>
        <th nzWidth="70px" nzAlign="center">命名空间</th>
        <th nzWidth="50px" nzAlign="center">类名</th>
        <th nzWidth="60px" nzAlign="center">方法名</th>
        <th nzWidth="100px" nzAlign="center">描述</th>
        <th nzWidth="150px" nzAlign="center">创建时间</th>
        <th nzWidth="150px" nzAlign="center" nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let authority of authorities">
        <td nzLeft [nzChecked]="checkedIds.has(authority.id)"
            (nzCheckedChange)="checkItem(authority.id, $event)"></td>
        <td nzLeft>{{authority.name}}</td>
        <td>{{authority.englishName}}</td>
        <td>{{authority.infoSystemInfo?.name}}</td>
        <td>{{authority.applicationType | applicationTypeDescriptor}}</td>
        <td>{{authority.authorityPath}}</td>
        <td>{{authority.assemblyName}}</td>
        <td>{{authority.namespace}}</td>
        <td>{{authority.className}}</td>
        <td>{{authority.methodName}}</td>
        <td>{{authority.description}}</td>
        <td nzAlign="center">{{authority.addedTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
        <td nzAlign="center" nzRight>
            <nz-space>
                <button nz-button *nzSpaceItem nzType="primary" nzSize="small" nzShape="round"
                        (click)="updateAuthority(authority)">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>编辑
                </button>
                <button nz-button *nzSpaceItem nzType="primary" nzSize="small" nzShape="round"
                        (click)="removeAuthority(authority.id)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>删除
                </button>
            </nz-space>
        </td>
    </tr>
    </tbody>
</nz-table>
<!--表格操作区-->
<ng-template #tableTile>
    <nz-space>
        <button nz-button *nzSpaceItem nzType="primary" nzSize="small" nzShape="round" (click)="createAuthority()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>新增
        </button>
        <button nz-button *nzSpaceItem nzType="primary" nzSize="small" nzShape="round" (click)="removeAuthorities()">
            <i nz-icon nzType="delete" nzTheme="outline"></i>删除
        </button>
    </nz-space>
</ng-template>
