<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration,SD.CacheManager" />
    <!--日志记录者配置配置节点-->
    <section name="loggerProviderConfiguration" type="SD.AOP.Core.LoggerProviderConfiguration,SD.AOP.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" />
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--日志记录者配置配置，默认采用Sql Server记录-->
  <loggerProviderConfiguration type="SD.AOP.Core.Implements.DefaultLogger" assembly="SD.AOP.Core" />

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--日志连接字符串-->
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <!--编号生成器连接字符串-->
    <!--键：约定；值：connectionString name-->
    <add key="NoConnection" value="DefaultConnection" />
    <!--实体所在程序集-->
    <add key="EntityAssembly" value="SD.IdentitySystem.Domain" />
    <!--实体配置所在程序集-->
    <add key="EntityConfigAssembly" value="SD.IdentitySystem.Repository" />
    <!--领域事件源所在程序集-->
    <add key="EventSourceAssembly" value="SD.IdentitySystem.Domain" />
    <!--数据表名前缀-->
    <add key="TablePrefix" value="" />
    <!--身份过期时间，单位：分钟-->
    <add key="AuthenticationTimeout" value="20" />
    <!--是否开启服务器机器验证，是：true，否：false-->
    <add key="AuthenticateMachine" value="false" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
      <assembly name="SD.IdentitySystem.DomainService" />
      <assembly name="SD.IdentitySystem.DomainEventHandler" />
      <assembly name="SD.IdentitySystem.Repository" />
    </asInterfaceAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
    </asSelfAssemblies>

    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStoreProvider.Redis" />
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
    </asInterfaceTypes>

    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.IdentitySystem.Repository.Base.DbSession" assembly="SD.IdentitySystem.Repository" />
    </asBaseTypes>

    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SD.IdentitySystem.Domain.Mediators.DomainServiceMediator" assembly="SD.IdentitySystem.Domain" />
      <type name="SD.IdentitySystem.Domain.Mediators.RepositoryMediator" assembly="SD.IdentitySystem.Domain" />
    </asSelfTypes>

    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHost" host="localhost" port="6379" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="ReadHost" host="localhost" port="6379" password="" />
    </readOnlyServers>
  </redisConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--身份认证服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.AppService.Implements.AuthenticationContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" />
        <endpoint address="Basic" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" />
      </service>
      <!--用户服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.AppService.Implements.UserContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NotReliableSessionBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" />
        <endpoint address="Basic" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" />
      </service>
      <!--权限服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.AppService.Implements.AuthorizationContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NotReliableSessionBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" />
        <endpoint address="Basic" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" />
      </service>
    </services>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!--事务绑定配置-->
        <binding name="TransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
        </binding>
        <!--事务绑定配置（无可靠性会话）-->
        <binding name="NotReliableSessionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问-->
          <serviceMetadata httpGetEnabled="true" />
          <!--允许从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
          <!--依赖注入扩展配置-->
          <injection />
          <!--初始化扩展配置-->
          <initialization />
          <!--WCF客户端/服务端身份认证扩展配置-->
          <wcfAuthentication />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF" />
        <!--初始化扩展配置-->
        <add name="initialization" type="SD.Infrastructure.WCF.Server.InitializationBehaviorElement, SD.Infrastructure.WCF.Server" />
        <!--WCF客户端/服务端身份认证扩展配置-->
        <add name="wcfAuthentication" type="SD.IdentitySystem.WCFAuthentication.WCF.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.WCF" />
      </behaviorExtensions>
    </extensions>
    <!--WCF多宿主绑定配置-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>