<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection"
         connectionString="Data Source=innerdb;Initial Catalog=HDIPlatform_IdentitySystem;User Id=sa;Password=sh2015!;MultipleActiveResultSets=true;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <!--日志连接字符串-->
    <add name="LogConnection"
         connectionString="Data Source=innerdb;Initial Catalog=ShSoft_Log;User Id=sa;Password=sh2015!;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <!--是否开启自动数据迁移，是：true，否：false-->
    <add key="AutoMigration" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHost" host="192.168.3.199" port="6379" password="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="ReadHost" host="192.168.3.199" port="6379" password="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </readOnlyServers>
  </redisConfiguration>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client>
      <!--部门服务契约配置-->
      <endpoint address="http://innerservice:8000/20HR_WcfHost_New/Hosts/DepartmentContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.HRSystem.IAppService.Interfaces.IDepartmentContract" name="HDIPlatform.HRSystem.IAppService.Interfaces.IDepartmentContract" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <!--岗位服务契约配置-->
      <endpoint address="http://innerservice:8000/20HR_WcfHost_New/Hosts/PostContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.HRSystem.IAppService.Interfaces.IPostContract" name="HDIPlatform.HRSystem.IAppService.Interfaces.IPostContract" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <!--人员服务契约配置-->
      <endpoint address="http://innerservice:8000/20HR_WcfHost_New/Hosts/HumanContract.svc" binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="HDIPlatform.HRSystem.IAppService.Interfaces.IHumanContract" name="HDIPlatform.HRSystem.IAppService.Interfaces.IHumanContract" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <!--员工服务契约配置-->
      <endpoint address="http://innerservice:8000/20HR_WcfHost_New/Hosts/EmployeeContract.svc" binding="wsHttpBinding" bindingConfiguration="NotReliableSessionBinding" contract="HDIPlatform.HRSystem.IAppService.Interfaces.IEmployeeContract" name="HDIPlatform.HRSystem.IAppService.Interfaces.IEmployeeContract" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>