<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--ASP.NET Core服务器配置节点-->
    <section name="aspNetCoreConfiguration" type="SD.Toolkits.AspNetCore.AspNetCoreSection, SD.Toolkits.AspNetCore" />
    <!--WCF配置节点-->
    <section name="system.serviceModel" type="System.ServiceModel.ServiceModelSection, System.ServiceModel.NetCore" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AspNetCore.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AspNetCore.Tests" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.StubWCF.IAppService" />
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>

  <!--ASP.NET Core服务器配置-->
  <aspNetCoreConfiguration authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:33106" />
      <!--<host url="http://192.168.0.146:33106" />-->
    </hosts>
  </aspNetCoreConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <endpoint address="http://localhost:1985/Hosts/ServerContract.svc" binding="basicHttpBinding" contract="SD.IdentitySystem.StubWCF.Server.Interfaces.IServerContract" name="SD.IdentitySystem.StubWCF.Server.Interfaces.IServerContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF终结点行为配置-->
    <behaviorConfigurations>
      <behaviorConfiguration name="DefaultBehavior">
        <endpointBehaviors>
          <!--WCF/ASP.NET Core客户端身份认证行为配置-->
          <endpointBehavior type="SD.IdentitySystem.WCF.Authentication.AspNetCore.AuthenticationBehavior" assembly="SD.IdentitySystem.WCF.Authentication.AspNetCore" />
        </endpointBehaviors>
      </behaviorConfiguration>
    </behaviorConfigurations>
  </system.serviceModel>
</configuration>