<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration, SD.CacheManager" />
    <!--ASP.NET服务器配置节点-->
    <section name="aspNetConfiguration" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />

  <!--应用程序配置-->
  <appSettings>
    <!--服务名称-->
    <add key="ServiceName" value="SD.IdentitySystem.AppService.Proxy" />
    <!--服务显示名称-->
    <add key="ServiceDisplayName" value="SD.IdentitySystem.AppService.Proxy" />
    <!--服务描述-->
    <add key="ServiceDescription" value="身份认证系统WebApi代理服务" />
    <!--身份过期时间，单位：分钟-->
    <add key="AuthenticationTimeout" value="20" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService.Host.Proxy" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.IAppService" />
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>

  <!--ASP.NET服务器配置-->
  <aspNetConfiguration authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:49731" />
      <!--<host url="http://192.168.0.146:49731" />-->
    </hosts>
  </aspNetConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <!--身份认证服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/AuthenticationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthenticationContract" behaviorConfiguration="DefaultBehavior" />
      <!--用户服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/UserContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IUserContract" name="SD.IdentitySystem.IAppService.Interfaces.IUserContract" behaviorConfiguration="DefaultBehavior" />
      <!--权限服务契约配置-->
      <endpoint address="net.tcp://localhost:49730/Hosts/AuthorizationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" name="SD.IdentitySystem.IAppService.Interfaces.IAuthorizationContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--WS绑定配置-->
      <wsHttpBinding>
        <binding name="WsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WsTransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </wsHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="TcpTransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <!--IPC绑定配置-->
      <netNamedPipeBinding>
        <binding name="IpcBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="IpcTransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF/OWIN客户端身份认证扩展配置-->
          <owinAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/OWIN客户端身份认证扩展配置-->
        <add name="owinAuthentication" type="SD.IdentitySystem.WCFAuthentication.Owin.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.Owin" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>