<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration, SD.CacheManager" />
    <!--日志记录者配置配置节点-->
    <section name="loggerProviderConfiguration" type="SD.AOP.Core.LoggerProviderConfiguration, SD.AOP.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--WebApi服务器配置节点-->
    <section name="webApiConfiguration" type="SD.Toolkits.WebApi.WebApiSection, SD.Toolkits.WebApi" />
  </configSections>

  <!--缓存提供者配置-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />

  <!--日志记录者配置配置，默认采用Sql Server记录-->
  <loggerProviderConfiguration type="SD.AOP.Core.Implements.DefaultLogger" assembly="SD.AOP.Core" />

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!--日志连接字符串-->
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <!--服务名称-->
    <add key="ServiceName" value="SD.IdentitySystem.AppService" />
    <!--服务显示名称-->
    <add key="ServiceDisplayName" value="SD.IdentitySystem.AppService" />
    <!--服务描述-->
    <add key="ServiceDescription" value="身份认证系统服务" />
    <!--实体所在程序集-->
    <add key="EntityAssembly" value="SD.IdentitySystem.Domain" />
    <!--实体配置所在程序集-->
    <add key="EntityConfigAssembly" value="SD.IdentitySystem.Repository" />
    <!--领域事件源所在程序集-->
    <add key="EventSourceAssembly" value="SD.IdentitySystem.Domain" />
    <!--数据表名前缀-->
    <add key="TablePrefix" value="" />
    <!--身份过期时间，单位：分钟-->
    <add key="AuthenticationTimeout" value="20" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
      <assembly name="SD.IdentitySystem.DomainService" />
      <assembly name="SD.IdentitySystem.DomainEventHandler" />
      <assembly name="SD.IdentitySystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService.Host" />
      <assembly name="SD.IdentitySystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStoreProvider.Redis" />
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.IdentitySystem.Repository.Base.DbSession" assembly="SD.IdentitySystem.Repository" />
    </asBaseTypes>
    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SD.IdentitySystem.Domain.Mediators.DomainServiceMediator" assembly="SD.IdentitySystem.Domain" />
      <type name="SD.IdentitySystem.Domain.Mediators.RepositoryMediator" assembly="SD.IdentitySystem.Domain" />
    </asSelfTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
    </wcfInterfaces>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>

  <!--WebApi服务器配置-->
  <webApiConfiguration authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:49733" />
      <!--<host url="http://192.168.0.146:49733" />-->
    </hosts>
  </webApiConfiguration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>