<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--WCF行为配置-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF服务端身份认证扩展配置-->
          <serverAuthentication />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF客户端身份认证扩展配置-->
          <serverAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--WCF客户端/服务端身份认证扩展配置-->
        <add name="serverAuthentication" type="SD.IdentitySystem.WCFAuthentication.Server.AuthenticationBehaviorElement, SD.IdentitySystem.WCFAuthentication.Server"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>