<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="false">
    <!--Host地址列表-->
    <hosts>
      <host port="49710" protocol="http" />
    </hosts>
    <!--静态文件根目录-->
    <staticFiles>Content</staticFiles>
    <!--文件服务器根目录-->
    <fileServer>Releases</fileServer>
  </sd.toolkits.aspNet>
</configuration>
