<form nz-form class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field1">Field 1</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field1"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field2">Field 2</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field2"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field3">Field 3</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field3"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field4">Field 4</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field4"/>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field1">Field 1</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field1"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field2">Field 2</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field2"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field3">Field 3</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field3"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-form-item>
                <nz-form-label nzFor="field4">Field 4</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="placeholder" formControlName="field1" id="field4"/>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'">搜索</button>
            <button nz-button>重置</button>
        </div>
    </div>
</form>
<nz-table style="margin-top: 5px;"
          nzShowSizeChanger
          [nzData]="loginRecords"
          [nzFrontPagination]="false"
          [nzLoading]="isBusy"
          [nzScroll]="{ y: 'calc(100vh - 600px)' }"
          [nzTotal]="rowCount"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex">
    <thead>
    <tr>
        <th nzWidth="100px">用户名</th>
        <th nzWidth="100px">真实姓名</th>
        <th nzWidth="200px">IP地址</th>
        <th nzWidth="200px">登录时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let loginRecord of loginRecords">
        <td>{{loginRecord.loginId}}</td>
        <td>{{loginRecord.realName}}</td>
        <td>{{loginRecord.ip}}</td>
        <td>{{loginRecord.addedTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
    </tr>
    </tbody>
</nz-table>
