<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework配置节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.AOP配置节点-->
    <section name="sd.aop" type="SD.AOP.Core.AopSection, SD.AOP.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>身份认证系统ASP.NET Core WebApi服务</application.name>
    <!--应用程序版本-->
    <application.version>v4.3.2</application.version>
    <!--数据库读连接名称-->
    <database.read.connectionName>DefaultConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>DefaultConnection</database.write.connectionName>
    <!--实体所在程序集-->
    <entity.assembly>SD.IdentitySystem.Domain</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.IdentitySystem.Repository</entity.config.assembly>
    <!--实体数据表名前缀-->
    <entity.tablePrefix></entity.tablePrefix>
    <!--领域事件源所在程序集-->
    <eventSource.assembly>SD.IdentitySystem.Domain</eventSource.assembly>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.AppService" />
      <assembly name="SD.IdentitySystem.DomainService" />
      <assembly name="SD.IdentitySystem.DomainEventHandler" />
      <assembly name="SD.IdentitySystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.AppService.Host" />
      <assembly name="SD.IdentitySystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStore.Redis" />
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
      <type name="SD.IdentitySystem.Membership.AspNetCore.MembershipProvider" assembly="SD.IdentitySystem.Membership.AspNetCore" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.IdentitySystem.Repository.Base.DbSession" assembly="SD.IdentitySystem.Repository" />
    </asBaseTypes>
    <!--As自身类型列表-->
    <asSelfTypes>
      <type name="SD.IdentitySystem.Domain.Mediators.DomainServiceMediator" assembly="SD.IdentitySystem.Domain" />
      <type name="SD.IdentitySystem.Domain.Mediators.RepositoryMediator" assembly="SD.IdentitySystem.Domain" />
    </asSelfTypes>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="" />-->
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.AOP配置-->
  <sd.aop>
    <!--日志记录者-->
    <loggerProvider type="SD.AOP.SqlServerLogger" assembly="SD.AOP.Logger.SqlServer" />
    <!--连接字符串，Name/Value二选一，Name优先-->
    <connectionString name="DefaultConnection" />
  </sd.aop>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="49731" protocol="http" />
    </hosts>
  </sd.toolkits.aspNet>

  <!--EntityFramework配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>