[Unit]
Description=SD.IdentitySystem.AppService(WebApi)

[Service]
ExecStart=/usr/bin/dotnet /home/lee/Publish/身份认证系统服务(WebApi)/SD.IdentitySystem.AppService.Host.dll

[Install]
WantedBy=multi-user.target
