<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序Id-->
    <application.id>SD.IdentitySystem</application.id>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.WebApi.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.WebApi.Tests" />
    </asSelfAssemblies>
    <!--WCF接口列表-->
    <wcfInterfaces>
      <assembly name="SD.IdentitySystem.StubWCF.IAppService" />
    </wcfInterfaces>
  </sd.ioc>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="33102" protocol="http" />
    </hosts>
  </sd.toolkits.aspNet>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF客户端配置，手动增加endpoint节点-->
    <client>
      <endpoint address="http://localhost:1985/Hosts/ServerContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.StubWCF.Server.Interfaces.IServerContract" name="SD.IdentitySystem.StubWCF.Server.Interfaces.IServerContract" behaviorConfiguration="DefaultBehavior" />
    </client>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <!--WCF/OWIN客户端身份认证行为配置-->
          <owinAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/OWIN客户端身份认证扩展配置-->
        <add name="owinAuthentication" type="SD.IdentitySystem.WCF.Authentication.Owin.AuthenticationBehaviorElement, SD.IdentitySystem.WCF.Authentication.Owin" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
