@{
    ViewBag.Title = "创建用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/Common/Form.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/User/Add.js"></script>
}

@using (Ajax.BeginForm("CreateUser", "User",
    new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "addBegin",
        OnSuccess = "addSucceed",
        OnFailure = "addFail"
    },
    new
    {
        id = "frmCreateUser"
    }))
{
    <div style="width: 100%; height: 100%; float: left; margin: 0;">
        <div class="easyui-panel" data-options="footer:'#footer'" style="width: 100%; height: 220px; padding: 10px;">
            <table id="tbAdd">
                <tr>
                    <td class="tdTitle">用户名：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="loginId" data-options="required:true,iconCls:'icon-man',width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">真实姓名：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="text" name="realName" data-options="required:true,iconCls:'icon-man',width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">密码：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="password" name="password" data-options="required:true,iconCls:'icon-lock',width:210" />
                    </td>
                </tr>
                <tr>
                    <td class="tdTitle">确认密码：</td>
                    <td class="tdContent">
                        <input class="easyui-textbox" type="password" name="confirmPassword" data-options="required:true,iconCls:'icon-lock',width:210" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer" style="padding: 5px;">
        <div style="float: right;">
            <a href="#" onclick="javascript: $('#frmCreateUser').submit();" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" style="width:90px">确定</a>
            <a href="#" onclick="javascript: $.easyuiExt.closeWindow();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" style="width:90px">取消</a>
        </div>
    </div>
}
