:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-header {
    /*background-image: url("../../../assets/images/banner.gif");*/
    background: white;
    height: 70px;
    line-height: 70px;
    margin: 0;
    padding: 0;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.home-header-folder {
    float: right;
    margin-right: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.home-header-folder-button {
    color: black;
}

.home-header-folder-button:hover {
    color: #2196F3;
}

.home-header-title {
    font-size: 24px;
    color: #1B4567
}

.home-header-user {
    float: right;
    margin-right: 20px;
    color: black;
}

.home-header-user i {
    width: 20px;
}

.home-header-user-menu {
    width: 120px;
    margin-right: 10px;
}

.home-body {
    background: whitesmoke;
    height: calc(100vh - 95px);
    margin: 0;
}

.home-menu-sidebar {
    position: relative;
    z-index: 10;
    box-shadow: 5px 0 15px rgba(0, 21, 41, .35);
}

.home-menu-item {
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.home-content {
    background: white;
    height: 100%;
    padding: 0;
}

.home-content-bing {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.home-content-nav {
    height: 40px;
}

.home-content-route {
    background: white;
    width: 100%;
    height: calc(100% - 40px);
    margin: 0;
    padding: 5px;
}

.home-footer {
    background: #3d3d3d;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.08);
}
