<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--WCF行为配置-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <aspNetAuthentication />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--WCF/ASP.NET客户端身份认证扩展配置-->
        <add name="aspNetAuthentication" type="SD.IdentitySystem.WCF.Authentication.AspNet.AuthenticationBehaviorElement, SD.IdentitySystem.WCF.Authentication.AspNet" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
