@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/User/ResetPassword.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/scripts/User/ResetPassword.js"></script>
}

@using (Ajax.BeginForm("ResetPassword", "User",
    new AjaxOptions
    {
        HttpMethod = "post",
        OnBegin = "resetBegin",
        OnSuccess = "resetSucceed",
        OnFailure = "resetFail"
    },
    new
    {
        id = "frmResetPassword"
    }))
{
    <div id="dvIframe">
        <input type="hidden" name="loginId" value="@ViewBag.LoginId" />
        <table id="tbReset">
            <tr>
                <td class="tdTitle">新密码：</td>
                <td class="tdContent">
                    <input class="easyui-textbox" type="password" name="newPassword" data-options="required:true,iconCls:'icon-lock',width:210" />
                </td>
            </tr>
            <tr>
                <td class="tdTitle">确认密码：</td>
                <td class="tdContent">
                    <input class="easyui-textbox" type="password" name="confirmPassword" data-options="required:true,iconCls:'icon-lock',width:210" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="tdContent">
                    <a href="#" onclick="javascript: $('#frmResetPassword').submit();" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
                    <a href="#" onclick="javascript: $.easyuiExt.closeWindow();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
                </td>
            </tr>
        </table>
    </div>
}