<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.IdentitySystem.StubWCF.Server" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.IdentitySystem.StubWCF.Server" />
    </asSelfAssemblies>
  </sd.ioc>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--服务契约配置-->
      <service behaviorConfiguration="DefaultBehavior" name="SD.IdentitySystem.StubWCF.Server.Implements.ServerContract">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1985/Hosts/ServerContract.svc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.IdentitySystem.StubWCF.Server.Interfaces.IServerContract" />
      </service>
    </services>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <!--是否允许get请求访问元数据-->
          <serviceMetadata httpGetEnabled="true" />
          <!--从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常详细信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--最大序列化的对象个数-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--依赖注入扩展配置-->
          <injection />
          <!--WCF客户端/服务端身份认证扩展配置-->
          <wcfAuthentication />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--WCF扩展配置，配置好无需修改-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.DependencyInjectionBehaviorElement, SD.IOC.Integration.WCF" />
        <!--WCF客户端/服务端身份认证扩展配置-->
        <add name="wcfAuthentication" type="SD.IdentitySystem.WCF.Authentication.AuthenticationBehaviorElement, SD.IdentitySystem.WCF.Authentication" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
