<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--服务名称-->
    <service.name>SD.IdentitySystem.UpdateService</service.name>
    <!--服务显示名称-->
    <service.displayName>SD.IdentitySystem.UpdateService</service.displayName>
    <!--服务描述-->
    <service.description>身份认证系统客户端更新服务</service.description>
  </sd.framework>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="false">
    <!--Host地址列表-->
    <hosts>
      <host port="49710" protocol="http" />
    </hosts>
    <!--静态文件根目录-->
    <staticFiles>Content</staticFiles>
    <!--文件服务器根目录-->
    <fileServer>Releases</fileServer>
  </sd.toolkits.aspNet>
</configuration>